<footer class="app-footer bg-body-secondary">
    <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
        <strong class="text-secondary">
            Copyright &copy; 2014-2025
            <a href="~/" class="text-decoration-none">Bản Quyền Công Ty TDT Shop</a>.
            Phát Triển Bởi Trần Đại Thành
        </strong>
        <span class="text-secondary">
            Anything you want
            <i class="bi bi-cpu text-primary ms-1" aria-hidden="true"></i>
        </span>
    </div>
</footer>
